<div class="container mt-5 text-center">
  <h1>Bienvenido, Admin</h1>
  <p class="lead">Seleccione una opción para gestionar:</p>

  <div class="d-flex justify-content-center my-5">
    <div class="btn-group-vertical gap-3">
      <button class="btn btn-primary btn-lg" routerLink="/estudiantes">
        Gestión de Estudiantes
      </button>
      <button class="btn btn-secondary btn-lg" routerLink="/docentes">
        Gestión de Docentes
      </button>
      <button class="btn btn-success btn-lg" routerLink="/aulas">
        Gestión de Aulas
      </button>
    </div>
  </div>

  <button class="btn btn-danger mt-4" routerLink="/auth">Cerrar Sesión</button>
</div>
