<div class="container mt-5">
  <h2 class="text-center">Asignar Aula</h2>
  <form (ngSubmit)="assignAula()">
    <div class="form-group">
      <label for="id_estudiante">ID Estudiante:</label>
      <input
        type="text"
        id="id_estudiante"
        [(ngModel)]="aula.id_estudiante"
        name="id_estudiante"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="id_docente">ID Docente:</label>
      <input
        type="text"
        id="id_docente"
        [(ngModel)]="aula.id_docente"
        name="id_docente"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="aula">Aula:</label>
      <input
        type="text"
        id="aula"
        [(ngModel)]="aula.aula"
        name="aula"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="turno">Turno:</label>
      <select
        id="turno"
        [(ngModel)]="aula.turno"
        name="turno"
        class="form-select"
      >
        <option value="mañana">Mañana</option>
        <option value="tarde">Tarde</option>
        <option value="noche">Noche</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Asignar Aula</button>
  </form>
</div>
