<div class="container mt-5">
  <h2 class="text-center">Asignar Aula</h2>
  <form>
    <!-- DNI del Estudiante -->
    <div class="form-group">
      <label for="dni">DNI del Estudiante:</label>
      <input
        type="text"
        id="dni"
        [(ngModel)]="aula.dni_estudiante"
        class="form-control"
        name="dni"
        required
      />
      <button
        type="button"
        class="btn btn-primary mt-2"
        (click)="verificarEstudiante()"
      >
        Verificar Estudiante
      </button>
    </div>

    <!-- Mensaje sobre el estado del estudiante -->
    <div class="mt-3" *ngIf="mensajeEstudiante">
      <p
        [class.text-danger]="!asignarHabilitado"
        [class.text-success]="asignarHabilitado"
      >
        {{ mensajeEstudiante }}
      </p>
    </div>

    <!-- Información del estudiante -->
    <div *ngIf="estudiante && !asignarHabilitado" class="mt-3">
      <p>
        <strong>Estudiante:</strong> {{ estudiante.nombres }}
        {{ estudiante.apellidos }}
      </p>
    </div>

    <!-- Docente -->
    <div class="form-group">
      <label for="docente">Docente:</label>
      <select
        id="docente"
        [(ngModel)]="aula.id_docente"
        class="form-select"
        name="docente"
        [disabled]="!asignarHabilitado"
        required
      >
        <option *ngFor="let docente of docentes" [value]="docente.id_docente">
          {{ docente.nombres }} {{ docente.apellidos }}
        </option>
      </select>
    </div>

    <!-- Aula -->
    <div class="form-group">
      <label for="aula">Aula:</label>
      <input
        type="text"
        id="aula"
        [(ngModel)]="aula.aula"
        class="form-control"
        name="aula"
        [disabled]="!asignarHabilitado"
        required
      />
    </div>

    <!-- Turno -->
    <div class="form-group">
      <label for="turno">Turno:</label>
      <select
        id="turno"
        [(ngModel)]="aula.turno"
        class="form-select"
        name="turno"
        [disabled]="!asignarHabilitado"
        required
      >
        <option value="mañana">Mañana</option>
        <option value="tarde">Tarde</option>
        <option value="noche">Noche</option>
      </select>
    </div>

    <!-- Botones -->
    <button
      type="button"
      class="btn btn-primary mt-3"
      [disabled]="!asignarHabilitado"
      (click)="asignarAula()"
    >
      Asignar Aula
    </button>
    <button type="button" class="btn btn-secondary mt-3" (click)="volver()">
      Volver
    </button>
  </form>
</div>
