<div class="container mt-5">
  <h2 class="text-center">Listado de Aulas</h2>
  <button class="btn btn-primary mb-3" routerLink="/aulas/assign">
    Asignar Aula
  </button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Estudiante</th>
        <th>Docente</th>
        <th>Aula</th>
        <th>Turno</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let aula of aulas; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ aula.estudiante }}</td>
        <td>{{ aula.docente }}</td>
        <td>{{ aula.aula }}</td>
        <td>{{ aula.turno }}</td>
        <td>
          <button
            class="btn btn-danger btn-sm"
            (click)="deleteAula(aula.id_aula)"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
